{% if content.length === 0 %}
  <p style="text-align: center; margin: 50px 0;">No content has been added to this issue.</p>
{% else %}

    {% for article in content | limit: 1 %}
      {% include "head" title=article.issue %}
    {% endfor %}

    {% for article in content | limit: 1 %}
    <div class="issue {{ article.field_secondary_text_color }}">
    <div class="header-sm" style="background: {{ article.field_secondary_color }};">
    {% endfor %}
     <div class="container">
       <button class="btn-menu">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
       </button>
     <div class="row">
       <div class="col-sm-12">
         <a class="brand" href="/">
         <div class="logo">Harriman</div>
         </a>
      </div>
     </div>
    </div>
    </div>

    {% include "menu" %}

    {% for article in content | limit: 1 %}
    <div class="issue-header {{ article.field_secondary_text_color }}" style="background: {{ article.field_secondary_color }}; border-bottom: 4px solid {{ article.field_primary_color }};">
    {% endfor %}
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {% for article in content | limit: 1 %}

            <div class="issue-hero">
             {% if article.field_slug %}
              <a href="/article/{{ article.field_slug }}">
             {% else %}
              <a href="/article/{{ article.nid }}">   
             {% endif %}
               <div class="issue-hero-image" style="background: url(http://api.magazine.harriman.danmccarey.com{{ article.field_thumbnail }}) no-repeat; background-size: cover;">
                 <div class="issue-hero-image--mask" style="background: {{ article.field_primary_color }}"></div>
               </div>
              </a>
               <div class="row">
                 <div class="col-sm-8">
                   <div class="issue-hero-content">
                      {% if article.field_slug %}
                        <a href="/article/{{ article.field_slug }}">
                      {% else %}
                        <a href="/article/{{ article.nid }}">   
                      {% endif %}
                      <h1>{{ article.title }}</h1></a>
                      <p class="subtitle">{{ article.field_subtitle }}</p>
                      <p class="author">{{ article.field_author }}</p>
                   </div>
                </div>
                <div class="col-sm-4">
                   <div class="issue-hero-number">
                   <b>{{ article.issue }}</b>
                   </div>
                 </div>
               </div>
            </div>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>




    <div class="page">


    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        {% for article in extras  %}
         {% if article.term_node_tid = 36 %}
         <div class="director-letter" style="border-left: solid 4px {{ article.field_primary_color }}">
         <h2>
             {% if article.field_slug %}
              <a href="/article/{{ article.field_slug }}">
             {% else %}
              <a href="/article/{{ article.nid }}">   
             {% endif %}
           From the Director</a>
          </h2>
           <p>
           {% if article.field_slug %}
              <a href="/article/{{ article.field_slug }}">
            {% else %}
              <a href="/article/{{ article.nid }}">   
            {% endif %}
           Read letter from the Director &raquo;
           </a></p>
         </div>
         {% endif %}
         {% endfor %}
       </div>
      </div>
    </div>


      <div class="container">
        <div class="row">

          <div class="story-grid">
          <div class="col-sm-4">
           {% for article in content | limit: 1 | offset: 1 %}
           {% if article.term_node_tid != 36 %}
            {% if article.field_slug %}
              <a href="/article/{{ article.field_slug }}">
            {% else %}
              <a href="/article/{{ article.nid }}">   
            {% endif %}
            <div class="story-grid-column {{ article.field_primary_text_color }}" style="background: {{ article.field_primary_color }}">
              <div class="story-grid-column--image" style="background: url(http://api.magazine.harriman.danmccarey.com{{ article.field_thumbnail }}) no-repeat; background-size: cover;"></div>
              <div class="story-grid-column--content">
                 <h2>{{ article.title }}</h2>
                 <p class="subtitle">{{ article.field_subtitle }}</p>
                 <p class="author">{{ article.field_author }}</p>
              </div>
              <div class="story-grid-column--mask story-grid-column--mask-left" style="background: {{ article.field_primary_color }}"></div>
            </div>
            </a>
           {% endif %}
           {% endfor %}
          </div>
          <div class="col-sm-4">
            {% for article in content | limit: 1 | offset: 2 %}
            {% if article.term_node_tid != 36 %}
            {% if article.field_slug %}
              <a href="/article/{{ article.field_slug }}">
            {% else %}
              <a href="/article/{{ article.nid }}">   
            {% endif %}
            <div class="story-grid-column {{ article.field_primary_text_color }}" style="background: {{ article.field_primary_color }}">
              <div class="story-grid-column--image story-grid-column--image-bottom" style="background: url(http://api.magazine.harriman.danmccarey.com{{ article.field_thumbnail }}) no-repeat center center; background-size: cover;"></div>
              <div class="story-grid-column--content story-grid-column--content-top">
                <h2>{{ article.title }}</h2>
                <p class="subtitle">{{ article.field_subtitle }}</p>
                <p class="author">{{ article.field_author }}</p>
              </div>
              <div class="story-grid-column--mask story-grid-column--mask-center" style="background: {{ article.field_primary_color }}"></div>
            </div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
          <div class="col-sm-4">
            {% for article in content | limit: 1 | offset: 3 %}
            {% if article.term_node_tid != 36 %}
            {% if article.field_slug %}
              <a href="/article/{{ article.field_slug }}">
            {% else %}
              <a href="/article/{{ article.nid }}">   
            {% endif %}
            <div class="story-grid-column {{ article.field_primary_text_color }}" style="background: {{ article.field_primary_color }}">
              <div class="story-grid-column--image" style="background: url(http://api.magazine.harriman.danmccarey.com{{ article.field_thumbnail }}) no-repeat center bottom; background-size: cover;"></div>
              <div class="story-grid-column--content">
                <h2>{{ article.title }}</h2>
                <p class="subtitle">{{ article.field_subtitle }}</p>
                <p class="author">{{ article.field_author }}</p>
              </div>
              <div class="story-grid-column--mask story-grid-column--mask-right" style="background: {{ article.field_primary_color }}"></div>
            </div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
          </div>


        <div class="story-grid">
        <div class="col-sm-4">
         {% for article in content | limit: 1 | offset: 4 %}
         {% if article.term_node_tid != 36 %}
          {% if article.field_slug %}
              <a href="/article/{{ article.field_slug }}">
            {% else %}
              <a href="/article/{{ article.nid }}">   
            {% endif %}
          <div class="story-grid-column {{ article.field_primary_text_color }}" style="background: {{ article.field_primary_color }}">
            <div class="story-grid-column--image" style="background: url(http://api.magazine.harriman.danmccarey.com{{ article.field_thumbnail }}) no-repeat; background-size: cover;"></div>
            <div class="story-grid-column--content">
               <h2>{{ article.title }}</h2>
               <p class="subtitle">{{ article.field_subtitle }}</p>
               <p class="author">{{ article.field_author }}</p>
            </div>
            <div class="story-grid-column--mask story-grid-column--mask-left" style="background: {{ article.field_primary_color }}"></div>
          </div>
          </a>
          {% endif %}
         {% endfor %}
        </div>
        <div class="col-sm-4">
          {% for article in content | limit: 1 | offset: 5 %}
           {% if article.term_node_tid != 36 %}
          {% if article.field_slug %}
              <a href="/article/{{ article.field_slug }}">
            {% else %}
              <a href="/article/{{ article.nid }}">   
            {% endif %}
          <div class="story-grid-column {{ article.field_primary_text_color }}" style="background: {{ article.field_primary_color }}">
            <div class="story-grid-column--image story-grid-column--image-bottom" style="background: url(http://api.magazine.harriman.danmccarey.com{{ article.field_thumbnail }}) no-repeat center center; background-size: cover;"></div>
            <div class="story-grid-column--content story-grid-column--content-top">
              <h2>{{ article.title }}</h2>
              <p class="subtitle">{{ article.field_subtitle }}</p>
              <p class="author">{{ article.field_author }}</p>
            </div>
            <div class="story-grid-column--mask story-grid-column--mask-center" style="background: {{ article.field_primary_color }}"></div>
          </div>
          </a>
           {% endif %}
          {% endfor %}
        </div>
        <div class="col-sm-4">
          {% for article in content | limit: 1 | offset: 6 %}
          {% if article.term_node_tid != 36 %}
           {% if article.field_slug %}
              <a href="/article/{{ article.field_slug }}">
            {% else %}
              <a href="/article/{{ article.nid }}">   
            {% endif %}
          <div class="story-grid-column {{ article.field_primary_text_color }}" style="background: {{ article.field_primary_color }}">
            <div class="story-grid-column--image" style="background: url(http://api.magazine.harriman.danmccarey.com{{ article.field_thumbnail }}) no-repeat center bottom; background-size: cover;"></div>
            <div class="story-grid-column--content">
              <h2>{{ article.title }}</h2>
              <p class="subtitle">{{ article.field_subtitle }}</p>
              <p class="author">{{ article.field_author }}</p>
            </div>
            <div class="story-grid-column--mask story-grid-column--mask-right" style="background: {{ article.field_primary_color }}"></div>
          </div>
          </a>
          {% endif %}
          {% endfor %}
        </div>
        </div>
      </div>


      <div class="story-list">
        <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
        {% for article in content | offset: 7 %}
          <div class="story-list-item">
            <h2>
            {% if article.field_slug %}
              <a href="/article/{{ article.field_slug }}">{{ article.title }}</a>
            {% else %}
              <a href="/article/{{ article.nid }}">{{ article.title }}<a>
            {% endif %}
            </h2>
            <p class="subtitle">{{ article.field_subtitle }}</p>
            <p class="author">{{ article.field_author }}</p>
          </div>
        {% endfor %}
        </div>
        </div>
      </div>
      </div>


      <div class="alumni-notes">
      <div class="container">
        <div class="row">
         {% if notes.length > 0 %}
         <div class="col-sm-12">
         <h2>Alumni notes</h2>
         </div>
         {% endif %}
         {% for article in notes %}
          <div class="col-sm-3">
          <div class="alumni-note-item">
            <p><a href="/note/{{article.nid}}">{{ article.title }}</a></p>
          </div>
          </div>
         {% endfor %}
         </div>
        </div>
      </div>
      </div>

    </div>
  </div>



{% include "footer" %}

{% endif %}
